<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG.DIR" value="logs"/>
    <property name="LOG.HISTORY" value="14"/>
    <property name="LOG.FILE_SIZE" value="100MB"/>
    <property name="LOG.TOTAL_SIZE" value="1GB"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %gray([%X{sessionId}-%X{key}]) %gray([%thread]) %boldYellow(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>


    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG.DIR}/debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{sessionId}-%X{key}] [%thread] %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG.DIR}/archived/debug.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${LOG.FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${LOG.HISTORY}</maxHistory>
            <totalSizeCap>${LOG.TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
    </appender>


    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG.DIR}/error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{sessionId}-%X{key}] [%thread] %logger{36} - %msg%n] - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG.DIR}/archived/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${LOG.FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${LOG.HISTORY}</maxHistory>
            <totalSizeCap>${LOG.TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE-AUDIT-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE-AUDIT"/>
    </appender>

    <logger name="org.jobs.manager" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-AUDIT-ASYNC"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="debug">
        <appender-ref ref="FILE-ERROR"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>